<%- include("header") %>

<div class="top-nav">
    <p><a href="/"><img src="image/pplogo.jpg" width="75" height="75"></a></p>
    <!-- <span id="prof">Prof</span>Predict -->
</div>
<div class="top-main">
    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat nobis, excepturi in natus accusantium modi maiores animi suscipit nemo, dolor quibusdam amet optio praesentium eveniet vero minus voluptates earum. Labore.
    </p>
</div>

<%- include("footer") %>