<%- include("header") %>


<div class="top-nav">
    <!-- <p><span id="prof">Prof</span>Predict</p> -->
    <p><img src="image/pplogo.jpg" width="75" height="75"></a></p>
</div>

<div class="wrapper">
            <div class="container">
                <div class="menulogo"></div>
                <div class="menulogo"></div>
                <div class="menulogo"></div>
            </div>
</div> 


<div class="welcome">
    <h1>WELCOME</h1>
</div> 

<ul class="menu">
    <li><a href="#">Home</a></li>
    <li><a href="/MoneyDoublersOnly" target="_blank">Today's Bookings</a></li>
    <li><a href="/Predictions" target="_blank">Predictions</a></li>
    <li><a href="/Signup">Register</a></li>
    <li><a href="/login">Login</a></li>
    <li><a href="/Career">Career</a></li>
    <li><a href="/About">About Us</a></li>
    <li><a href="/Contact">Contact Us</a></li>
</ul>

<script src="js/script.js"></script>


<%- include("footer") %>