<%- include("header") %>
<div class="top-nav">
    <p><a href="/"><img src="image/pplogo.jpg" width="75" height="75"></a></p>
    <!-- <span id="prof">Prof</span>Predict -->
</div>

    <div class="box">
        <h1>Login Form</h1>
        <form action="/login" method="POST">
                    <!-- <span class="details">Username/Email</span> -->
                    <input type="text" id="input" name="username" placeholder="username/email" required><br>
           
                    <!-- <span class="details">Password</span> -->
                    <input type="password" id="input" name="password" placeholder="password" required><br>
           
            <div class="button">
                <input class="button" type="submit" value="Login">
            </div>
        </form>
        <p>don't have an account? <a href="/signup">Sign up</a></p>
    </div>
    
    <%- include("footer") %>





























