<%- include("header") %>

<div class="top-nav">
    <!-- <p><span id="prof">Prof</span>Predict</p> -->
    <p><img src="public/image/pplogo.jpg" width="75" height="75"></a></p>
</div>
<div class="top-main"> 
    <div class="container">
        <h1 class="display-4">Awesome..... </h1>
        <p class="lead">you were successfully signed up...</p>
        <p>Go to <a href="/MoneyDoublersOnly">Today's Bookings.</a></p>

    </div>
</div>

<%- include("footer") %>