*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

body{
    background-color: silver;
    text-align: center;
}

h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 1rem;
    font-size: 2rem;
    
}

p {
    font-size: 1.2rem;
    font-family: 'Merriweather', serif;;
}


.wrapper{
    width: 90%;
    margin: 0 auto;
}

.container{
    /*======Remove this Background color background-color: deeppink; =========*/
    float: right;
    height: 25px;
    width: 40px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.welcome {
    color: goldenrod;
    /*margin-left: 40em;*/
    font-family: 'Poppins', sans-serif;
}

.menulogo{
    height: 3px;
    width: 30px;
    background-color: snow;
}

.menu{
    /*=========background-color: deeppink;========used to spot the menu slot======*/
    width: 50%;
    height: 100vh;
    background-color: darkgoldenrod;
    padding: 50px;
    transform: translateX(-500px); /*============was to hide the menu list.........first set to zero to view menu list======*/
    transition: 0.5s; /*======Time it takes to show Menu========*/
}

.menu>li {
    list-style-type: none;
    border-bottom: 1px solid rgb(21, 71, 52);
    padding: 30px 0;
    text-align: center;
}

/*==========showmenu hamburger styling i suspectt say na inside javascipt him go run na...lets see========*/

.showmenu {
    transform: translateX(0);
}

.menu>li:last-child {
    border-bottom: none;
}

.menu>li>:first-child a {
    font-weight: bold;
}

.menu>li>a {
    color: snow;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    transition: font-weight 0.2s;
}

.menu>li>a:hover {
    font-weight: bold;
}

@media only screen and (min-width:1000px){
    .menu {
        width: 500px;
    }
}

@media only screen and (max-width:430px){
    .menu>li>a {
        font-size: 16px;
    }
}

div.top-nav {
    margin: 0;
    top: 0;
    text-align: left;
    color: darkgreen;
    
}

#prof {
    color: goldenrod;
}

#copyright {
    font-size: 12px;
    color: darkorange;
}